# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
df = pd.read_csv('student-mat.csv')

In [3]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [5]:
filtered = df.iloc[:, 0:12]
filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 12 columns):
school      395 non-null object
sex         395 non-null object
age         395 non-null int64
address     395 non-null object
famsize     395 non-null object
Pstatus     395 non-null object
Medu        395 non-null int64
Fedu        395 non-null int64
Mjob        395 non-null object
Fjob        395 non-null object
reason      395 non-null object
guardian    395 non-null object
dtypes: int64(3), object(9)
memory usage: 37.1+ KB

### Step 5. Create a lambda function that captalize strings.

In [6]:
func = lambda x: x.str.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [7]:
filtered[['Mjob', 'Fjob']].apply(func)

         Mjob      Fjob
0     At_home   Teacher
1     At_home     Other
2     At_home     Other
3      Health  Services
4       Other     Other
5    Services     Other
6       Other     Other
7       Other   Teacher
8    Services     Other
9       Other     Other
10    Teacher    Health
11   Services     Other
12     Health  Services
13    Teacher     Other
14      Other     Other
15     Health     Other
16   Services  Services
17      Other     Other
18   Services  Services
19     Health     Other
20    Teacher     Other
21     Health    Health
22    Teacher     Other
23      Other     Other
24   Services    Health
25   Services  Services
26      Other     Other
27     Health  Services
28   Services     Other
29    Teacher   Teacher
..        ...       ...
365   At_home     Other
366   Teacher  Services
367     Other  Services
368   At_home  Services
369     Other   Teacher
370  Services  Services
371   At_home  Services
372     Other   At_home
373     Other     Other
374     Other     Other
375     Other     Other
376    Health     Other
377   Teacher  Services
378     Other     Other
379   At_home     Other
380   Teacher   Teacher
381     Other     Other
382     Other  Services
383     Other  Services
384     Other     Other
385   At_home     Other
386   Teacher   At_home
387  Services     Other
388   Teacher  Services
389     Other     Other
390  Services  Services
391  Services  Services
392     Other     Other
393  Services     Other
394     Other   At_home

[395 rows x 2 columns]

### Step 7. Print the last elements of the data set.

In [8]:
filtered.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,services,services,course,other
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother
392,MS,M,21,R,GT3,T,1,1,other,other,course,other
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [9]:
filtered[['Mjob', 'Fjob']] = filtered[['Mjob', 'Fjob']].apply(func)

In [10]:
filtered.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker

In [11]:
def majority(row):
    val = None
    if row >= 21:
        val = True
    else:
        val = False
    return val

In [12]:
filtered['legal_drinker'] = filtered['age'].apply(majority)
filtered.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,False
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,False

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [13]:
def mult_10(x):
    if type(x) is str:
        return x
    elif type(x) is int:
        return 10 * x
    else:
        return

In [14]:
filtered.applymap(mult_10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,course,mother,None
1,GP,F,170,U,GT3,T,10,10,At_home,Other,course,father,None
2,GP,F,150,U,LE3,T,10,10,At_home,Other,other,mother,None
3,GP,F,150,U,GT3,T,40,20,Health,Services,home,mother,None
4,GP,F,160,U,GT3,T,30,30,Other,Other,home,father,None
5,GP,M,160,U,LE3,T,40,30,Services,Other,reputation,mother,None
6,GP,M,160,U,LE3,T,20,20,Other,Other,home,mother,None
7,GP,F,170,U,GT3,A,40,40,Other,Teacher,home,mother,None
8,GP,M,150,U,LE3,A,30,20,Services,Other,home,mother,None
9,GP,M,150,U,GT3,T,30,40,Other,Other,home,mother,None
10,GP,F,150,U,GT3,T,40,40,Teacher,Health,reputation,mother,None
11,GP,F,150,U,GT3,T,20,10,Services,Other,reputation,father,None
12,GP,M,150,U,LE3,T,40,40,Health,Services,course,father,None
13,GP,M,150,U,GT3,T,40,30,Teacher,Other,course,mother,None
14,GP,M,150,U,GT3,A,20,20,Other,Other,home,other,None
15,GP,F,160,U,GT3,T,40,40,Health,Other,home,mother,None
16,GP,F,160,U,GT3,T,40,40,Services,Services,reputation,mother,None
17,GP,F,160,U,GT3,T,30,30,Other,Other,reputation,mother,None
18,GP,M,170,U,GT3,T,30,20,Services,Services,course,mother,None
19,GP,M,160,U,LE3,T,40,30,Health,Other,home,father,None
20,GP,M,150,U,GT3,T,40,30,Teacher,Other,reputation,mother,None
21,GP,M,150,U,GT3,T,40,40,Health,Health,other,father,None
22,GP,M,160,U,LE3,T,40,20,Teacher,Other,course,mother,None
23,GP,M,160,U,LE3,T,20,20,Other,Other,reputation,mother,None
24,GP,F,150,R,GT3,T,20,40,Services,Health,course,mother,None
25,GP,F,160,U,GT3,T,20,20,Services,Services,home,mother,None
26,GP,M,150,U,GT3,T,20,20,Other,Other,home,mother,None
27,GP,M,150,U,GT3,T,40,20,Health,Services,other,mother,None
28,GP,M,160,U,LE3,A,30,40,Services,Other,home,mother,None
29,GP,M,160,U,GT3,T,40,40,Teacher,Teacher,home,mother,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,180,R,GT3,T,10,30,At_home,Other,course,mother,None
366,MS,M,180,U,LE3,T,40,40,Teacher,Services,other,mother,None
367,MS,F,170,R,GT3,T,10,10,Other,Services,reputation,mother,None
368,MS,F,180,U,GT3,T,20,30,At_home,Services,course,father,None
369,MS,F,180,R,GT3,T,40,40,Other,Teacher,other,father,None
370,MS,F,190,U,LE3,T,30,20,Services,Services,home,other,None
371,MS,M,180,R,LE3,T,10,20,At_home,Services,other,father,None
372,MS,F,170,U,GT3,T,20,20,Other,At_home,home,mother,None
373,MS,F,170,R,GT3,T,10,20,Other,Other,course,mother,None
374,MS,F,180,R,LE3,T,40,40,Other,Other,reputation,mother,None
375,MS,F,180,R,GT3,T,10,10,Other,Other,home,mother,None
376,MS,F,200,U,GT3,T,40,20,Health,Other,course,other,None
377,MS,F,180,R,LE3,T,40,40,Teacher,Services,course,mother,None
378,MS,F,180,U,GT3,T,30,30,Other,Other,home,mother,None
379,MS,F,170,R,GT3,T,30,10,At_home,Other,reputation,mother,None
380,MS,M,180,U,GT3,T,40,40,Teacher,Teacher,home,father,None
381,MS,M,180,R,GT3,T,20,10,Other,Other,other,mother,None
382,MS,M,170,U,GT3,T,20,30,Other,Services,home,father,None
383,MS,M,190,R,GT3,T,10,10,Other,Services,other,mother,None
384,MS,M,180,R,GT3,T,40,20,Other,Other,home,father,None
385,MS,F,180,R,GT3,T,20,20,At_home,Other,other,mother,None
386,MS,F,180,R,GT3,T,40,40,Teacher,At_home,reputation,mother,None
387,MS,F,190,R,GT3,T,20,30,Services,Other,course,mother,None
388,MS,F,180,U,LE3,T,30,10,Teacher,Services,course,mother,None
389,MS,F,180,U,GT3,T,10,10,Other,Other,course,mother,None
390,MS,M,200,U,LE3,A,20,20,Services,Services,course,other,None
391,MS,M,170,U,LE3,T,30,10,Services,Services,course,mother,None
392,MS,M,210,R,GT3,T,10,10,Other,Other,course,other,None
393,MS,M,180,R,LE3,T,30,20,Services,Other,course,mother,None
394,MS,M,190,U,LE3,T,10,10,Other,At_home,course,father,None